


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button{
  height: 40px;
  width: 33.33%;
  border-radius: .6rem;
  cursor: pointer;
  font-weight: bold;
  
  
}
body{
  min-height: 100vh;

}

form{
  width: 100%;
}
button:hover
{
  background-color: green;
}
button:focus
{
  background-color: darkblue;
  color:white;
}
ul{

  margin-top: 20px;

}
